In [132]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf
from keras import optimizers

In [14]:
data=pd.read_csv('bank.csv')

In [15]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
data.drop(['RowNumber','CustomerId','Surname'],inplace=True,axis=1)

In [17]:
data.shape

(10000, 11)

In [18]:
data.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [11]:
data['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [31]:
#Convert categorical variables using one hot encoding
ohe_df=pd.get_dummies(data['Geography'])
data['France']=ohe_df['France']
data['Germany']=ohe_df['Germany']
data['Spain']=ohe_df['Spain']

In [32]:
data.drop('Geography',axis=1,inplace=True)

In [33]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,Female,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,Female,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,Female,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [36]:
data['Gender'].replace(['Female','Male'],[0,1],inplace=True)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [37]:
X=data.drop(['Exited'],axis=1)
Y=data['Exited']

In [38]:
#Train test split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [59]:
Y_train=tf.keras.utils.to_categorical(Y_train)
Y_test=tf.keras.utils.to_categorical(Y_test)

In [53]:
#Standardizaion
sc=StandardScaler()
X_train_Std=pd.DataFrame(sc.fit_transform(X_train),columns=X_train.columns)
X_test_Std=pd.DataFrame(sc.fit_transform(X_test),columns=X_test.columns)

C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [145]:
# Building and optimizing model
model = Sequential()
#specifying activation functions
model.add(Dense(10, input_dim=12, init='uniform', activation='relu'))
model.add(Dense(8, init='uniform', activation='relu'))
model.add(Dense(6, init='uniform', activation='relu'))
model.add(Dense(2, init='uniform', activation='softmax'))
# Compile model
adam=optimizers.adam(lr=0.001)
model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
# Fit the model
model.fit(X_train_Std, Y_train, nb_epoch=100, batch_size=10,  verbose=2)

C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(10, input_dim=12, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(8, activation="relu", kernel_initializer="uniform")`
  """
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`

C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(2, activation="softmax", kernel_initializer="uniform")`
  import sys
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  if sys.path[0] == '':

Epoch 1/100
 - 5s - loss: 0.4695 - acc: 0.7971
Epoch 2/100
 - 2s - loss: 0.4272 - acc: 0.7984
Epoch 3/100
 - 2s - loss: 0.4206 - acc: 0.8180
Epoch 4/100
 - 2s - loss: 0.4162 - acc: 0.8277
Epoch 5/100
 - 2s - loss: 0.4141 - acc: 0.8337
Epoch 6/100
 - 2s - loss: 0.4115 - acc: 0.8325
Epoch 7/100
 - 2s - loss: 0.4091 - acc: 0.8341
Epoch 8/100
 - 2s - loss: 0.4091 - acc: 0.8346
Epoch 9/100
 - 2s - loss: 0.4067 - acc: 0.8345
Epoch 10/100
 - 2s - loss: 0.4069 - acc: 0.8357
Epoch 11/100
 - 2s - loss: 0.4066 - acc: 0.8345
Epoch 12/100
 - 2s - loss: 0.4054 - acc: 0.8342
Epoch 13/100
 - 2s - loss: 0.4048 - acc: 0.8371
Epoch 14/100
 - 2s - loss: 0.4047 - acc: 0.8355
Epoch 15/100
 - 2s - loss: 0.4039 - acc: 0.8357
Epoch 16/100
 - 2s - loss: 0.4030 - acc: 0.8367
Epoch 17/100
 - 2s - loss: 0.4037 - acc: 0.8340
Epoch 18/100
 - 2s - loss: 0.4036 - acc: 0.8365
Epoch 19/100
 - 2s - loss: 0.4030 - acc: 0.8340
Epoch 20/100
 - 2s - loss: 0.4030 - acc: 0.8345
Epoch 21/100
 - 2s - loss: 0.4036 - acc: 0.8371
Epoch 22/100
 - 2s - loss: 0.4022 - acc: 0.8357
Epoch 23/100
 - 2s - loss: 0.4028 - acc: 0.8361
Epoch 24/100
 - 2s - loss: 0.4027 - acc: 0.8357
Epoch 25/100
 - 2s - loss: 0.4028 - acc: 0.8350
Epoch 26/100
 - 2s - loss: 0.4027 - acc: 0.8356
Epoch 27/100
 - 2s - loss: 0.4020 - acc: 0.8362
Epoch 28/100
 - 2s - loss: 0.4025 - acc: 0.8347
Epoch 29/100
 - 2s - loss: 0.4020 - acc: 0.8366
Epoch 30/100
 - 2s - loss: 0.4010 - acc: 0.8360
Epoch 31/100
 - 2s - loss: 0.4022 - acc: 0.8361
Epoch 32/100
 - 2s - loss: 0.4019 - acc: 0.8360
Epoch 33/100
 - 2s - loss: 0.4015 - acc: 0.8374
Epoch 34/100
 - 2s - loss: 0.4019 - acc: 0.8360
Epoch 35/100
 - 2s - loss: 0.4015 - acc: 0.8350
Epoch 36/100
 - 2s - loss: 0.4011 - acc: 0.8357
Epoch 37/100
 - 2s - loss: 0.4012 - acc: 0.8350
Epoch 38/100
 - 2s - loss: 0.4016 - acc: 0.8364
Epoch 39/100
 - 2s - loss: 0.4013 - acc: 0.8349
Epoch 40/100
 - 2s - loss: 0.4015 - acc: 0.8359
Epoch 41/100
 - 2s - loss: 0.3998 - acc: 0.8355
Epoch 42/100
 - 2s - loss: 0.3895 - acc: 0.8410
Epoch 43/100
 - 2s - loss: 0.3669 - acc: 0.8509
Epoch 44/100
 - 2s - loss: 0.3543 - acc: 0.8561
Epoch 45/100
 - 2s - loss: 0.3483 - acc: 0.8592
Epoch 46/100
 - 2s - loss: 0.3456 - acc: 0.8610
Epoch 47/100
 - 2s - loss: 0.3448 - acc: 0.8576
Epoch 48/100
 - 2s - loss: 0.3441 - acc: 0.8617
Epoch 49/100
 - 2s - loss: 0.3432 - acc: 0.8612
Epoch 50/100
 - 2s - loss: 0.3423 - acc: 0.8609
Epoch 51/100
 - 2s - loss: 0.3420 - acc: 0.8612
Epoch 52/100
 - 2s - loss: 0.3421 - acc: 0.8602
Epoch 53/100
 - 2s - loss: 0.3411 - acc: 0.8614
Epoch 54/100
 - 2s - loss: 0.3407 - acc: 0.8624
Epoch 55/100
 - 2s - loss: 0.3413 - acc: 0.8611
Epoch 56/100
 - 2s - loss: 0.3413 - acc: 0.8621
Epoch 57/100
 - 2s - loss: 0.3412 - acc: 0.8616
Epoch 58/100
 - 2s - loss: 0.3407 - acc: 0.8615
Epoch 59/100
 - 2s - loss: 0.3411 - acc: 0.8621
Epoch 60/100
 - 2s - loss: 0.3407 - acc: 0.8610
Epoch 61/100
 - 2s - loss: 0.3398 - acc: 0.8617
Epoch 62/100
 - 2s - loss: 0.3402 - acc: 0.8609
Epoch 63/100
 - 2s - loss: 0.3402 - acc: 0.8634
Epoch 64/100
 - 2s - loss: 0.3403 - acc: 0.8597
Epoch 65/100
 - 2s - loss: 0.3399 - acc: 0.8647
Epoch 66/100
 - 2s - loss: 0.3399 - acc: 0.8631
Epoch 67/100
 - 2s - loss: 0.3393 - acc: 0.8627
Epoch 68/100
 - 2s - loss: 0.3393 - acc: 0.8631
Epoch 69/100
 - 2s - loss: 0.3389 - acc: 0.8625
Epoch 70/100
 - 2s - loss: 0.3394 - acc: 0.8634
Epoch 71/100
 - 2s - loss: 0.3390 - acc: 0.8615
Epoch 72/100
 - 2s - loss: 0.3399 - acc: 0.8629
Epoch 73/100
 - 2s - loss: 0.3385 - acc: 0.8621
Epoch 74/100
 - 2s - loss: 0.3388 - acc: 0.8616
Epoch 75/100
 - 2s - loss: 0.3379 - acc: 0.8619
Epoch 76/100
 - 2s - loss: 0.3395 - acc: 0.8621
Epoch 77/100
 - 2s - loss: 0.3374 - acc: 0.8629
Epoch 78/100
 - 2s - loss: 0.3384 - acc: 0.8607
Epoch 79/100
 - 2s - loss: 0.3385 - acc: 0.8609
Epoch 80/100
 - 2s - loss: 0.3381 - acc: 0.8632
Epoch 81/100
 - 2s - loss: 0.3380 - acc: 0.8614
Epoch 82/100
 - 2s - loss: 0.3383 - acc: 0.8625
Epoch 83/100
 - 2s - loss: 0.3379 - acc: 0.8625
Epoch 84/100
 - 2s - loss: 0.3374 - acc: 0.8597
Epoch 85/100
 - 2s - loss: 0.3369 - acc: 0.8620
Epoch 86/100
 - 2s - loss: 0.3367 - acc: 0.8626
Epoch 87/100
 - 2s - loss: 0.3382 - acc: 0.8615
Epoch 88/100
 - 2s - loss: 0.3382 - acc: 0.8626
Epoch 89/100
 - 2s - loss: 0.3372 - acc: 0.8616
Epoch 90/100
 - 2s - loss: 0.3371 - acc: 0.8624
Epoch 91/100
 - 2s - loss: 0.3377 - acc: 0.8617
Epoch 92/100
 - 2s - loss: 0.3372 - acc: 0.8631
Epoch 93/100
 - 2s - loss: 0.3368 - acc: 0.8627
Epoch 94/100
 - 2s - loss: 0.3367 - acc: 0.8636
Epoch 95/100
 - 2s - loss: 0.3368 - acc: 0.8659
Epoch 96/100
 - 2s - loss: 0.3365 - acc: 0.8634
Epoch 97/100
 - 2s - loss: 0.3372 - acc: 0.8630
Epoch 98/100
 - 2s - loss: 0.3359 - acc: 0.8632
Epoch 99/100
 - 2s - loss: 0.3366 - acc: 0.8612
Epoch 100/100
 - 2s - loss: 0.3366 - acc: 0.8619

In [146]:
#Predict
predicted=model.predict(X_test_Std)

In [147]:
#0.5 Threshold
result=np.where(predicted>=0.5)[1]

In [148]:
np.bincount(result)

array([1714,  286], dtype=int64)

In [149]:
#Accuracy and Confusion matirx
model.evaluate(X_test_Std,Y_test)

2000/2000 [==============================] - 1s 559us/step

[0.3320040683746338, 0.8635]

In [150]:
print("Accuracy is", model.evaluate(X_test_Std,Y_test)[1]*100)

2000/2000 [==============================] - 0s 67us/step
Accuracy is 86.35000000000001

In [151]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(np.argmax(Y_test,axis=1),result)

array([[1513,   72],
       [ 201,  214]], dtype=int64)

In [152]:
accuracy_score(np.argmax(Y_test,axis=1),result)

0.8635