In [1]:
import numpy as np
import pandas as pd

<h3>Q1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)</h3>

In [2]:
Laliga= pd.read_csv('Laliga.csv')
Laliga.index=Laliga["Pos"]

In [3]:
Laliga.replace("-",0,inplace=True)
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,,
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

<h3>Q2.Print all the teams which have started playing between 1930-1980. (5 points) </h3>

In [ ]:
#Convert entries with '-' into single entry by selescting first value using split function and store it in a list

In [39]:
x=[]
for i in Laliga.Pos:
    x.append((Laliga['Debut'][i].split('-')[0]))

In [ ]:
#Assign this list to Debut column and convert it to integer using astype function

In [149]:
Laliga['Debut']=x
Laliga['Debut']=Laliga['Debut'].astype('int')

In [ ]:
#Iterate over Debut column and search for the values between 1930 and 1980
#Print the team name if crieteria is satisfied

In [191]:
for j in Laliga.Pos:
    if Laliga['Debut'][j]>=1930 and Laliga['Debut'][j]<=1980:
        print(Laliga.loc[j]['Team'])

Valencia
Sevilla
Zaragoza
Real Betis
Deportivo La Coruna
Celta Vigo
Valladolid
Sporting Gijon
Osasuna
Malaga
Oviedo
Mallorca
Las Palmas
Granada
Rayo Vallecano
Elche
Hercules
Tenerife
Murcia
Alaves
Levante
Salamanca
Sabadell
Cadiz
Castellon
Cordoba
Recreativo
Burgos CF
Pontevedra
Gimnastic
Alcoyano
Jaen
AD Almeria
Lleida
Condal
Atletico Tetuan
Cultural Leonesa

<h3>Q3.Print the list of teams which came Top 5 in terms of points (2.5 points)

In [ ]:
#Convert the points to float/int type
#Sort it in Descending order then print top 5

In [182]:
Laliga['Points']=Laliga['Points'].astype('float')
Highest_Points=Laliga.sort_values('Points',ascending=False)
Highest_Points[0:5][['Team','Points']]

                Team  Points
Pos
1        Real Madrid  4385.0
2          Barcelona  4262.0
3    Atletico Madrid  3442.0
4           Valencia  3386.0
5    Athletic Bilbao  3368.0

<h3>Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [ ]:
'''Arguments:This function takes Dataframe having GoalsFor,GoalsAgainst,Team and Pos column as argument
   Return:This function returns 5 values 
   1.A Dataframe with Position,Team Name and Goal Difference
   2.Name of team with maximum goal difference
   3.Name of team with minimum goal difference
   4.Value of maximum goal difference
   5.Value of minimum goal difference'''

In [353]:
def Goal_diff_count(df):
    #Convert string to float
    df['GoalsFor']=df['GoalsFor'].astype(float)
    df['GoalsAgainst']=df['GoalsAgainst'].astype(float)
    
    #Calculate the goal difference and store it in a Dataframe
    Goal_Diff=pd.DataFrame(data=np.array([Laliga['Team'],Laliga.GoalsFor-Laliga.GoalsAgainst]).T,index=Laliga['Pos'],columns=['Team','GoalDifference'])
    
    #Get the name of team having maximum Goal Difference
    Team_Goal_Diff_max=Goal_Diff.sort_values('GoalDifference',ascending=False).iloc[0,0]
    
    #Get the name of team having minimum Goal Difference
    Team_Goal_Diff_min=Goal_Diff.sort_values('GoalDifference').iloc[0,0]
    
    #Return the caclculated values along with maximum and minimum values
    return Goal_Diff,Team_Goal_Diff_max,Team_Goal_Diff_min,Goal_Diff['GoalDifference'].max(),Goal_Diff['GoalDifference'].min()

In [354]:
gd,team_gd_max,team_gd_min,gd_max,gd_min=Goal_diff_count(Laliga)
print(gd,"\n",team_gd_max,"\n",team_gd_min,"\n",gd_max,"\n",gd_min)

                    Team GoalDifference
Pos
1            Real Madrid           2807
2              Barcelona           2786
3        Atletico Madrid           1225
4               Valencia            929
5        Athletic Bilbao            931
6                Sevilla            307
7               Espanyol           -280
8          Real Sociedad             -2
9               Zaragoza           -164
10            Real Betis           -333
11   Deportivo La Coruna           -136
12            Celta Vigo           -346
13            Valladolid           -413
14      Racing Santander           -525
15        Sporting Gijon           -399
16               Osasuna           -334
17                Malaga           -342
18                Oviedo           -309
19              Mallorca           -189
20            Las Palmas           -399
21            Villarreal            103
22               Granada           -338
23        Rayo Vallecano           -328
24                 Elche           -272
25                Getafe           -113
26              Hercules           -334
27              Tenerife           -125
28                Murcia           -385
29                Alaves           -165
30               Levante           -202
..                   ...            ...
32              Sabadell           -228
33                 Cadiz           -269
34              Logrones           -198
35             Castellon           -169
36              Albacete            -90
37               Almeria           -122
38               Cordoba           -145
39            Compostela            -42
40            Recreativo            -94
41             Burgos CF            -94
42            Pontevedra            -56
43              Numancia            -98
44                 Eibar            -28
45                Arenas            -81
46           Real Burgos            -38
47             Gimnastic           -114
48           Extremadura            -55
49                Merida            -45
50              Alcoyano           -107
51                  Jaen            -62
52            Real Union            -31
53            AD Almeria            -45
54                Europa            -34
55                Lleida           -112
56               Leganes            -19
57                 Xerez            -28
58                Condal            -20
59       Atletico Tetuan            -34
60      Cultural Leonesa            -31
61                Girona              0

[61 rows x 2 columns]
 Real Madrid
 Racing Santander
 2807.0
 -525.0

<h3>Q5.Create a new column with name â€œWinning Percentâ€ and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [57]:
#This function calculates winning percentage and in case of numerical error,it retutns 0
def CalculateWinningPercentage(df):
    df['GamesWon']=df['GamesWon'].astype(float)
    df['GamesPlayed']=df['GamesPlayed'].astype(float)
    try:
        Winning = (df['GamesWon'] / df['GamesPlayed'])*100
    except:
        Winning = 0
    return Winning

In [61]:
#Add a new column to dataset
Laliga['Winning Percent']=CalculateWinningPercentage(Laliga)
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
Pos,,,,,,,,,,,,,,,,,,,,,
1,1,Real Madrid,86,4385,2762.0,1647.0,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
2,2,Barcelona,86,4262,2762.0,1581.0,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
3,3,Atletico Madrid,80,3442,2614.0,1241.0,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
4,4,Valencia,82,3386,2664.0,1187.0,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
5,5,Athletic Bilbao,86,3368,2762.0,1209.0,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
6,6,Sevilla,73,2819,2408.0,990.0,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,41.112957
7,7,Espanyol,82,2792,2626.0,948.0,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
8,8,Real Sociedad,70,2573,2302.0,864.0,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
9,9,Zaragoza,58,2109,1986.0,698.0,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,35.146022
10,10,Real Betis,51,1884,1728.0,606.0,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,35.069444
11,11,Deportivo La Coruna,45,1814,1530.0,563.0,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,36.797386
12,12,Celta Vigo,51,1789,1698.0,586.0,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,34.511190
13,13,Valladolid,42,1471,1466.0,463.0,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,31.582538
14,14,Racing Santander,44,1416,1428.0,453.0,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
15,15,Sporting Gijon,43,1389,1458.0,471.0,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,32.304527
16,16,Osasuna,37,1351,1318.0,426.0,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,32.321700
17,17,Malaga,36,1314,1255.0,390.0,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,31.075697
18,18,Oviedo,38,1174,1192.0,408.0,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,34.228188
19,19,Mallorca,27,1148,988.0,333.0,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,33.704453
20,20,Las Palmas,33,1020,1096.0,367.0,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,33.485401
21,21,Villarreal,17,970,646.0,266.0,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,41.176471
22,22,Granada,23,667,742.0,218.0,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,29.380054
23,23,Rayo Vallecano,17,662,652.0,189.0,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,28.987730
24,24,Elche,21,606,678.0,203.0,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,29.941003
25,25,Getafe,12,553,456.0,147.0,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,32.236842
26,26,Hercules,20,538,628.0,184.0,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,29.299363
27,27,Tenerife,13,510,494.0,155.0,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,31.376518
28,28,Murcia,18,445,586.0,145.0,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,24.744027
29,29,Alaves,12,421,380.0,125.0,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,32.894737
30,30,Levante,11,416,402.0,113.0,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426.0,129.0,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,30.281690
33,33,Cadiz,12,343,448.0,104.0,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,23.214286
34,34,Logrones,9,293,346.0,96.0,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,27.745665
35,35,Castellon,11,285,334.0,103.0,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,30.838323
36,36,Albacete,7,277,270.0,76.0,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,28.148148
37,37,Almeria,6,242,228.0,62.0,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,27.192982
38,38,Cordoba,9,230,282.0,82.0,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,29.078014
39,39,Compostela,4,190,160.0,52.0,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,32.500000
40,40,Recreativo,5,188,186.0,50.0,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,26.881720
41,41,Burgos CF,6,168,204.0,59.0,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,28.921569
42,42,Pontevedra,6,150,180.0,53.0,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,29.444444
43,43,Numancia,4,148,152.0,37.0,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,24.342105
44,44,Eibar,3,132,114.0,35.0,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,30.701754
45,45,Arenas,7,107,130.0,43.0,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
46,46,Real Burgos,3,96,114.0,26.0,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,22.807018
47,47,Gimnastic,4,91,116.0,34.0,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,29.310345
48,48,Extremadura,2,83,80.0,20.0,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,25.000000
49,49,Merida,2,81,80.0,19.0,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,23.750000
50,50,Alcoyano,4,76,108.0,30.0,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,27.777778
51,51,Jaen,3,71,90.0,29.0,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,32.222222
52,52,Real Union,4,56,72.0,21.0,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
53,53,AD Almeria,2,52,68.0,17.0,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,25.000000
54,54,Europa,3,42,54.0,18.0,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
55,55,Lleida,2,40,68.0,13.0,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,19.117647
56,56,Leganes,1,35,38.0,8.0,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,21.052632
57,57,Xerez,1,34,38.0,8.0,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,21.052632
58,58,Condal,1,22,30.0,7.0,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,23.333333
59,59,Atletico Tetuan,1,19,30.0,7.0,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,23.333333
60,60,Cultural Leonesa,1,14,30.0,5.0,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,16.666667
61,61,Girona,1,0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,NaN

In [78]:
Laliga.loc[Laliga['Winning Percent'].sort_values(ascending=False)[0:5].index][['Team','Winning Percent']]

                Team  Winning Percent
Pos
1        Real Madrid        59.630702
2          Barcelona        57.241130
3    Atletico Madrid        47.475134
4           Valencia        44.557057
5    Athletic Bilbao        43.772629

<h3>Q6.Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions (5 points)

In [10]:
Laliga['Points']=Laliga['Points'].astype(float)

In [11]:
#Group by BEST POSITION
groupby_BestPosition=Laliga.groupby('BestPosition')

In [15]:
#Display sum of points
pd.DataFrame(groupby_BestPosition.sum()['Points'])

               Points
BestPosition
1             27933.0
2              6904.0
3              5221.0
4              6563.0
5              1884.0
6              2113.0
7              1186.0
8              1134.0
9                96.0
10              450.0
11              445.0
12              511.0
14               71.0
15               14.0
16               81.0
17              266.0
19               81.0
20               34.0