In [3]:
import numpy as np
import pandas as pd

In [7]:
Data= pd.read_csv('Titan.csv')
Data.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

<b>Q1.Find the mean of old scheme and new scheme column. (5 points)

In [8]:
Mean_Old= Data['Old Scheme (in thousands)'].mean()
print("Mean of old scheme is {0}".format(Mean_Old))

Mean of old scheme is 68.03333333333333

In [9]:
Mean_New=Data['New Scheme (in thousands)'].mean()
print("Mean of New scheme is {0}".format(Mean_New))

Mean of New scheme is 72.03333333333333

<b>2.Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

<b>Null Hypothesis:</b><br>
    H<sub>0</sub> : New scheme raises the outputs significantly.<br>
              Mean Difference(New-Old) > 0<br>
        
<b>Alternative hypothesis:</b><br>
    H<sub>A </sub>: New scheme does not raise the outputs significantly.<br>
              Mean Difference(New-Old) <= 0

<b>Given Data is two sampled paired data.Lets determine whether data is parametic or non parametic by applying following tests:<br></b>
1.Test of normality(Shapiro's Test)<br>
2.Test of variance(Levene's Test)<br>

In [10]:
from scipy.stats import shapiro,levene

In [11]:
shapiro_stat_old,shapiro_pvalue_old=shapiro(Data['Old Scheme (in thousands)'])
print("Shapiro statistics={0}\nP value={1}".format(shapiro_stat_old,shapiro_pvalue_old))

Shapiro statistics=0.9885101914405823
P value=0.9813658595085144

<b>As p value is greater than 0.05 , population data of old scheme is normally distributed.

In [12]:
shapiro_stat_new,shapiro_pvalue_new=shapiro(Data['New Scheme (in thousands)'])
print("Shapiro statistics={0}\nP value={1}".format(shapiro_stat_old,shapiro_pvalue_old))

Shapiro statistics=0.9885101914405823
P value=0.9813658595085144

<b>As p value is greater than 0.05 , population data of new scheme is normally distributed.

In [13]:
levene(Data['Old Scheme (in thousands)'],Data['New Scheme (in thousands)'])

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

<b>As  p value is greater than 0.05, both old and new scheme data have equal variance.

<b>As both the tests are passed, data is parametric.

In [14]:
from scipy.stats import ttest_1samp

In [15]:
#Null hypothesis for ttest_1samp function is "Mean is equal to specified value"
ttest_1samp(Data['New Scheme (in thousands)']-Data['Old Scheme (in thousands)'],0)

Ttest_1sampResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

<b>As p value is greater than 0.05,we fail to reject null hypothesis of "ttest_1samp" function(Difference between mean=0).Which indicates that difference between two means is almost zero.So, our original Null hypothesis(Mean Difference >0) is sucessfully rejected. Hence new scheme does not raise the ouputs significantly.

<b>Q3.What conclusion does the test (p-value) lead to? (2.5 points)

<b>Answer:</b> P value is greater than 0.05 hence we fail to reject null for t-test which was <b>"Mean is equal to zero"</b>.Which contradicts with our original null hypothesis<b>(i.e Mean Difference >0)</b>.Hence we successfully reject original null hypothesis and accept the alternative hypothesis.Hence new scheme does not make any significant raise in outputs.

<b>Q4.Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

<h3>The probability of a type 1 error?</h3>

<b>Answer:<br></b>
<b>Probability of Type1 Error:</b><br>
Probability of Type 1 error is equal to significance level.As we have set significance level to 5%,probability of Type 1 error is <b>0.05

<h3>What is the p- value of the hypothesis test if we test for a difference of $5000?

<b>Null Hypothesis:</b><br>
    H<sub>0</sub> : Average output does not increase by $5000.<br>
              Mean Difference(New-Old) < 5<br>
        
<b>Alternative hypothesis:</b><br>
    H<sub>A </sub>: Average output increases by $5000.<br>
              Mean Difference(New-Old) >= 5

In [16]:
t_stat,pvalue=ttest_1samp(Data['New Scheme (in thousands)']-Data['Old Scheme (in thousands)'],5)

In [17]:
print("P value ={0}".format(pvalue))

P value =0.7001334912613286

As p value is greater than 0.05, we fail to reject null hypothesis of t-test which states that <b>"Difference between two means is 5"</b>.Which means we successfully reject original null hypothesis which staed <b>"Difference between 2 means is less than 5"</b>.Hence we accept original alternative hypothesis which indicates that new scheme raises average output by $5000.

<h3>Power of the test?

In [6]:
from statsmodels.stats.power import ttest_power

In [28]:
nobs=Data.shape[0]
Var_New=np.var(Data['New Scheme (in thousands)'])
Var_Old=np.var(Data['Old Scheme (in thousands)'])
(Mean_New - Mean_Old) / np.sqrt(((nobs-1)*Var_New+(nobs-1)*Var_Old) / (nobs+nobs-2))

0.18217632044690082

In [35]:
power=ttest_power(0.18217632044690082, nobs=nobs, alpha=0.05, alternative='two-sided')

In [36]:
print("Power of test = {0}".format(power))

Power of test = 0.16160947411918306